@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  min-height: 100%;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background: #FFFFFF;
}

/* buttons */
.search {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  left: -6px;
  top: 0px;
  width: 160px;
  height: 40px;
  background: #FFE17F;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.button {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  padding-left: 39px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 220px;
  height: 8px;
  margin-top: -4px;
  background: #FFE17F;
}

.button:hover,
.button:focus {
  background-color: transparent
}

.button:hover::before,
.button:focus::before {

  transform: scaleY(5)
}

.button:active {
  color: rgba(0, 0, 0, .3)
}

.button:active::before {
  color: rgba(0, 0, 0, .3)
}

.button-active {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 20px;
  color: #FFE17F;
}

.button-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 267px;
  height: 40px;
  margin-top: -4px;
  background: #000000;
}

.button-delivery {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;

}

.button-delivery::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  margin-top: -4px;
  background: #FFE17F;
}

.button-delivery:hover,
.button-delivery:focus {
  background-color: transparent
}

.button-delivery:hover::before,
.button-delivery:focus::before {

  transform: scaleY(4)
}

.button-delivery:active {
  color: rgba(0, 0, 0, .3)
}

.button-delivery:active::before {
  color: rgba(0, 0, 0, .3)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-left: 60px;
  width: 1160px;
  height: 300px;
  margin: 40px 140px;
  background: #FFE17F;
}

.navigation-logo {
  position: relative;
  top: -20px;
}

.navigation-logo:default {
  outline: none;
}

.navigation-logo:hover {
  transform: scale(1);
}

.navigation-logo:focus {
  outline: none;
}

.navigation-logo:active {
  transform: scale(1.1);
}

.header-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 3px;
  color: #000000;
}

.navigation-list {
  display: flex;
  list-style: none;
  padding-right: 176px;
}

.navigation-link {
  color: #000000;
  padding-left: 12px;
}

.site-functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 61px;
}



.header-bottom {
  font-family: "Rubik bold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;

}

.site-navigation {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 61px;
}

.menu-item {
  color: #000000
}

.site-item:first-child {
  margin-right: 270px;
}

a {
  text-decoration: none;
}

.catalog-title {
  font-family: 'Raleway bold', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.field {
  position: static;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #FFE17F;
  padding-left: 40px;
  width: 359px;
  height: 40px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;

}

.field::placeholder {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 74px;
  top: 19%;
}











.main-container {
  flex-grow: 1;
}

.main-welcome {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 83px;
  background-color: #464343;
}


.page-container {
  width: 1160px;
  margin-left: 140px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.device {
  display: flex;
  flex-direction: row;

}

.device-about {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 560px;
  height: 189px;
  left: 800px;
  top: 268px;

}

.about-drone {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  background-color: #814b18;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background-color: #af7842;
}

.slider-pagination-button:focus {
  background-color: #dbb590;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #242424;
}

.slide-picture {
  position: relative;
  top: -190px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 43%;
  width: 100%;
  transform: translateY(-50%);
}

.about-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

h3 {
  font-family: "Rubik bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

/* device catalog */

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0;
  gap: 50px;
  width: 1160px;
  list-style: none;
}

.catalog-description {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-picture {
  width: 160px;
  height: 160px;
  background: #FFE17F;
}

.vr-logo {
  padding: 54px 32px;
}

.monopod-logo {
  padding: 44px 37px;
}

.camera-logo {
  padding: 37px 44px;
}

.fitnes-logo {
  padding: 47px 26px;
}

.smart-logo {
  padding: 32px 52px;
}

.copter-logo {
  padding: 48px 14px;
}

/* Delivery section */

.delivery {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 116px;
  margin-top:70px;
}

.buttons-delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
}

.delivery-inf {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 174px;
}

.delivery-description {
  padding-top: 30px;
}

.delivery-img {
  position: absolute;
  left: 89.18%;
  right: 2.72%;
  top: 27.21%;
  bottom: 3.93%;
}

/* end delivery section */

.rare-delivery {
  position: relative;
  display: flex;
  align-items: center;
  background: #F0F0F0;
  width: 1210px;
  height: 100px;
  margin-top:70px;
}

.car-delivery {
  width: 125px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #FFE17F;
}

.car-logo {
  position: absolute;
  left: 35px;
  top: 35px;
}

.car-delivery-text {
  width: 910px;
  height: 20px;
}

.toolip {
  position: relative;
  left: 100px;
  opacity: 0.6;
}

.car-delivery-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/* about us and contacts */
.additional-inf {
  display: flex;
  flex-direction: row;
  margin-top:70px;
  gap:160px;
}
/* end about us and contacts */


.subscribe {

  margin-top:70px;
}

.subscribe-text{
  display: flex;
  flex-direction: row;
  width: 1440px;

}

.subscribe-form{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 138px;
}














.page-footer {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #444444;
}
